h1 {
  text-align:center;
}


#document {
  float:left;
  width:50%;
  margin-right: 5%;
  overflow-y:scroll;
}

#notes {
  float:left;
  width: 40%;
  z-index:100;
}

#note, label[for="note"], #submit {
  visibility:hidden;
}

// hidden highlight field
#highlight {
  display:none;
}

label[for="highlight"] {
  visibility:hidden;
}

.control-label {
  clear:both;
  display:block;
}


// viewing
.highlight {
  background-color: yello;
}