{% extends "main/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block bar %}
  <a class="link-bar-back" href="menu">Back</a>
{% endblock %}

{% block main %}
  <h1 class="page-title">Make your notes</h1>

  <div id="document">
  {% if content %}
    {% for text in content %}
      <p>{{ text }}</p>
    {% endfor %}
  {% else %}
    <p>Error!</p>
  {% endif %}
  </div>

  <div id="notes">
    {{ wtf.quick_form(form) }}
  </div>


{% endblock %}

{% block scripts %}
<script type="text/javascript" src="../../static/js/jquery.textHighlighter.pack.min.js"></script>
<script>
  $(document).ready(function() {
    height = $(window).height();
    $("#document").height(height);

    noteWidth = $("#notes").width();
    $("textarea").height(height/2);
    $("textarea").width(noteWidth);

    $("#document").textHighlighter({
      onAfterHighlight: function(highlights, range) {

        // enable notes
        $("#note").val('');
        $("#note").css("visibility", "visible");
        $("label[for='note']").css("visibility", "visible");
        $("#submit").css("visibility", "visible");

        // set highlighted field
        $("#highlight").val('');
        var highlighted = $(highlights).text();
        $("#highlight").val(highlighted);

        // enable remove highlights
        $("#document").dblclick(function() {
            $('#document').getHighlighter().removeHighlights();

            // hide notes
            $("#note").css("visibility", "hidden");
            $("label[for='note']").css("visibility", "hidden");
            $("#submit").css("visibility", "hidden");
        });
      }
    });
  });

  $(document).resize(function() {
    height = $(window).height();
    $("#document").height(height);
    noteWidth = $("#notes").width();
    $("textarea").height(height/2);
    $("textarea").width(noteWidth);
  });
</script>
{% endblock %}