{% extends "main/base.html" %}

{% block main %}
<div class="landing">
  <h1 class="landing-title">NoteIt</h1>

  <button type="button" class="btn main-btn" onClick='location.href="login"'>Login</button>
  <button type="button" class="btn main-btn" onClick='location.href="signup"'>Signup</button>
</div>
{% endblock %}

{% block scripts %}
<script>
  function titleFormat() {
    height = $(window).height();
    $(".landing-title").css("margin-top", height/4);
  }

  $(document).ready(titleFormat);

  $(window).resize(titleFormat);
</script>
{% endblock %}