{% extends "main/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block bar %}
  <a class="link-bar" href="/logout">Logout</a>
{% endblock %}

{% block main %}
<h1 class="welcome">Let's take notes, {{ user.name }}</h1>

<div class="create">
<h3> Create new document </h3>
<hr>
{{ wtf.quick_form(form) }}
</div>

<div class="current">
<h3> Current Documents </h3>
<hr>
  {% if user.documents %}
    <div class="flex-boxes">
    {% for doc in user.documents %}
    <a href="document/{{ doc.id }}" class="flex-box">
      <h1 class="flex-title">{{ doc.title }}</h1>
      <p>{{ doc.description }}</p>
    </a>
    {% endfor %}
    </div>
  {% else %}
    <p> None yet! </p>
  {% endif %}
</div>

{% endblock %}