{% extends "main/base.html" %}

{% block bar %}
<a class="link-bar-back" href="/../menu">Back</a>
<a class="link-bar" href="/delete/{{document.id}}">Delete</a>
<a class="link-bar" href="#">Edit</a>
{% endblock %}

{% block main %}
  <h1 class="page-title"> {{ document.title }} </h1>
  <div id="document">
    {% for text in content %}
      <p>{{text}}</p>
    {% endfor %}
  </div>

  <div id="notes">
    {% for note in notes %}
      <p class="note note{{ note.id }}" value="{{ note.highlight }}">{{ note.body }} </p>
    {% endfor %}
  </div>

{% endblock %}

{% block scripts %}
<script src="../../static/js/jquery.highlight.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    height = $(window).height();
    $("#document").height(height);

    {% for note in notes %}
      $(".note{{ note.id }}").click(function() {
        $txt = $(".note{{ note.id }}").attr("value");
        $("#document").highlight($txt);
      });
    {% endfor %}
  });

  $(window).resize(function() {
    height = $(window).height();
    $("#document").height(height);
  });

  $("#document").dblclick(function() {
    $("#document").unhighlight();
  });
</script>
{% endblock %}
