/* line 1 */
h1 {
  text-align: center;
}

/* line 6 */
#document {
  float: left;
  width: 50%;
  margin-right: 5%;
  overflow-y: scroll;
}

/* line 13 */
#notes {
  float: left;
  width: 40%;
  z-index: 100;
}

/* line 19 */
#note, label[for="note"], #submit {
  visibility: hidden;
}

/* line 24 */
#highlight {
  display: none;
}

/* line 28 */
label[for="highlight"] {
  visibility: hidden;
}

/* line 32 */
.control-label {
  clear: both;
  display: block;
}

/* line 39 */
.highlight {
  background-color: yello;
}
